* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 34px;
}

.header-container img {
    margin-right: 60px;
}

.header-container ul {
    display: flex;
    align-items: center;
}

.header-container ul li {
    margin-left: 0;
    margin: 8px;
    list-style: none;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 600;
    color: gray;
    font-size: 16px;
}

.header-container ul li:hover {
    color: black;
}

button {
    width: 60px;
    height: 35px;
    background-color: transparent;
    font-size: 15px;
}

.button_header {
    width: 130px;
    height: 35px;
    background-color: transparent;
    color: #19b47b;
    border: solid #19b47b;
    border-radius: 5px;
    border: solid 2px;
}

.button_header:hover {
    background-color: #19b47b;
    color: white;
}

.button-enter {
    display: flex;
    align-items: center;
    width: 60px;
    height: 35px;
    color: #00bae5;
    border: solid #00bae5;
    border-radius: 5px;
    border: solid 2px;
}

.button-enter .link {
    margin-left: 10px;
    color: #00bae5;
}

.button-enter .link:hover {
    background-color: #00bae5;
    color: white;
}

.button-enter:hover {
    background-color: #00bae5;
    color: white;
}

select {
    width: 50px;
    height: 30px;
    border: whitesmoke;
    color: #00bae5;
}

select:hover {
    background-color: rgb(213, 239, 255);
}